*{
    /* border: 1px green solid; */
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    box-sizing: border-box;
    }

a{
    text-decoration: none;
    width: auto;
}


#nav-bar{
    background-color: rgba(0, 0, 0, 0.781);
    /* background-color: linear-gradient(rgba(0, 0, 0, 0.6), rgba(255, 196, 0, 0.6)); */
    overflow: hidden;

}
.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
.Icon-Home{

}

.Icon-Home img {
height: 50px;
width: 50px;
margin-left: 20px;
transition: .5s;
}
.Icon-Home img:hover{
    height: 100px;
    width: 100px;
  }
.navegador ul {
    list-style: none;
    display:flex;
    /* padding: 20px 0; */
}

.navegador ul li {
    padding: 20px;
}


.navegador ul li a{
    padding: 1.6rem;
    color: aliceblue;
    font-weight: bold;
    transition: .25s;
}
.navegador ul li a:hover{
    font-size: 50px;
}
.verano:hover{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) ,url(/images/Verano.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
.otoño:hover{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) ,url(/images/OtoñoNav.jpg);
    background-repeat: no-repeat;
     background-size: 100%;
}
.primavera:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) ,url(/images/Primavera-nav.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
   
    }

.invierno:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) ,url(/images/Invierno-nav.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

  
}
.navegador ul li a.selected:hover{
    /* background-color:rgba(39, 39, 39, 0.74); */
    height: 50px;
}



/* SECCION PORTADA */
.Portada{
    height:750px;
    position:relative;
    overflow: hidden;
}
/* video{
    width: 100%;
    height: 100%;
} */
.videoHome {
    width: 100%;
}

.absolute{
    width: 100%;
    height:100%;
    position: absolute;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.048))
}

section h1 {
    width: 50%;
    height: auto;
    /* border:2px red solid; */
    color: antiquewhite;
    font-family: 'Bebas Neue', cursive;
    font-size: 10rem;
    text-align: left;
    margin: 20px;
    padding: 20px;
    
}

/* Contenedor de las estaciones */
main{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
}

.contenedor{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    padding: 20px 10px;
    width: 90%;
    margin:auto;
    transition: 2s;
}
#seccionEstaciones{
    width: 100%;
    padding: 20px;
    display: flex;
    
}

.cards{
    height: 100%;
    border: 1px rgba(128, 128, 128, 0.637) solid;
    border-radius: 5px;
    box-shadow: 5px 3px 15px #989898b6;
    transition: 2s;
    padding: 20px;
}

.cards:hover, .contenedor:hover{
    width: 500px;
    height: 500px;
    box-shadow: 5px 3px 15px #ff0000bb;
}

/* footer -------------------------------------------------------*/

footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2em;
    height: 500px;
    background-color: rgb(74, 74, 206);
}


.columnFoot{
    background-color: #fff;
    
    display: flex;
    
}